header.header-page
  .container-fluid
    .header-page__inner
      a.logo(href="index.html")
        img.lazy(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 257 21'%3E%3C/svg%3E" data-src="assets/img/logo.png", alt="")
      button.btn-menu.header-page__btn-menu
        span.btn-menu__lines
          span.btn-menu__line.btn-menu__line_one
          span.btn-menu__line.btn-menu__line_two
          span.btn-menu__line.btn-menu__line_three
      .nav-page.header-page__nav-page
        ul.list-nav-page.header-page__list-nav-page
          li.list-nav-page__item 
            a.list-nav-page__link(href="#") Каталог
          li.list-nav-page__item
            a.list-nav-page__link(href="#") Преимущества
          li.list-nav-page__item
            a.list-nav-page__link(href="#") Отзывы
          li.list-nav-page__item
            a.list-nav-page__link(href="#") Как заказать
